<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <title>Al Fondo hay Cine</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

        <link rel="stylesheet" href="public/css/style.css">
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="public/images/logizi.png">
                <div><h1>Al Fondo Hay Cine</h1></div>
            </div>  
            <div class="info">
                <div class="crono">Cronograma</div>
                <div class="au">About us</div>
                <div class="icon">
                    <i class="menu fas fa-bars"></i>
                </div>
            </div>
        </header>
        <div class="contenedor">
            <p class="titulo"><h1 id="titulo">La dirección de Cultura presenta: </h1><h2 id="Contador">Viendo ahora: 0</h2></p>
            <video id="mse" autoplay controls ></video>
        </div>
        <input type="text" id="comentario" hidden>
        <script src="/public/js/SocketHandler.js"></script>
        <script src="public/js/alFondoHayCine.js"></script>
    </body>
</html>